
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("List Gold Memebers","GoldMembers")</p>
<p>@Html.ActionLink("List Silver Memebers", "SilverMembers")</p>
<p>@Html.ActionLink("List Most Rented Cars", "MostRented")</p>
<p>@Html.ActionLink("List Least Rented Cars", "LeastRented")</p>

